/* You can add global styles to this file, and also import other style files */
html, body {
  max-width: 100vw;
  overflow-x: hidden;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.sidebar-nav .active-link .mdc-list-item__primary-text,
.sidebar-nav .active-link span,
.sidebar-nav mat-list-item.active-link .mdc-list-item__primary-text {
  color: #fff !important;
}

.sidebar-nav mat-list-item:hover .mdc-list-item__primary-text,
.sidebar-nav mat-list-item:hover span {
  color: #fff !important;
}