<mat-toolbar color="primary" class="header-toolbar">
  <div class="logo">
    <img src="assets/thumbs/Stream Sphere Icon.png" 
         alt="StreamSphere" 
         class="app-logo desktop-logo" 
         (click)="redirectToHome()" />
    <img src="assets/thumbs/ss_icon_mobile.png" 
         alt="StreamSphere" 
         class="app-logo mobile-logo" 
         (click)="redirectToHome()" />
  </div>
  
  <div class="search-container">
    <input class="search-box" type="text" placeholder="Search" (input)="onSearchChange($event)" />
  </div>

  <!-- User Menu for logged in users -->
  <div class="user-menu" *ngIf="isLoggedIn">
    <button mat-icon-button [matMenuTriggerFor]="userMenu" class="user-profile-btn">
      <img [src]="profileImage" 
           [alt]="user?.name + ' profile picture'"
           (error)="onImageError($event)"
           class="user-profile-img" />
    </button>
    
    <mat-menu #userMenu="matMenu" class="user-dropdown-menu">
      <div class="user-info">
        <img [src]="profileImage" 
             [alt]="user?.name + ' profile picture'"
             (error)="onImageError($event)"
             class="user-profile-img-large" />
        <div class="user-details">
          <div class="user-name">{{ user?.name }}</div>
          <div class="user-email">{{ user?.email }}</div>
        </div>
      </div>
      
      <mat-divider></mat-divider>
      
      <button mat-menu-item (click)="navigateToProfile()">
        <mat-icon>person</mat-icon>
        <span>You</span>
      </button>
      
      
      <mat-divider></mat-divider>
      
      
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>

  <!-- User Login Component for non-logged in users -->
  <app-user-login *ngIf="!isLoggedIn"></app-user-login>
</mat-toolbar>
