<mat-card (click)="onVideoClick()" class="video-card">
    <video class="video-preview" controls controlsList="nodownload">
      <source [src]="safeUrl" type="video/mp4" />
    </video>
    <mat-card-content>
      <h3>{{ video?.title || 'Untitled Video' }}</h3>
      <p>{{  'Untitled Channel'  }}</p>
      <p>{{ 0 }} • {{ video.uploadedAt }}</p>
      <div class="category-badge" *ngIf="video?.category">
        <span class="category-tag">{{ video.category }}</span>
      </div>
    </mat-card-content>
</mat-card>
