.header-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background-color: white;
    border-bottom: 1px solid #ccc;
}
.logo {
    display: flex;
    align-items: center;
}
.logo-img {
    height: 25px;
    margin-right: 16px;
}
.country-code {
    font-weight: bold;
    font-size: 14px;
    color: #606060;
    margin-left: 2px;
}

.search-box {
    width: 80%;
    height: 85%;
    margin: 0 10px;
    border: none;
  }
  
  .search-box mat-label {
    font-size: 14px; /* Adjust label size if necessary */
  }
  